consumer/node_modules
consumer/coverage
consumer/config/local.json
consumer/.idea

# Environment configuration
consumer/env.sh

# Keys and certs
consumer/config/dev-cert.pem
consumer/config/dev-key.pem

# Cloudformation config
consumer/cloudformation

# ECS yml
consumer/deploy/tc-connect2sf.yml
consumer/deploy/tc-connect2sf.yml.template
consumer/deploy/src
consumer/deploy/config
consumer/deploy/
