consumer/node_modules
consumer/coverage
consumer/config/local.json
consumer/.idea

# Environment configuration
consumer/env.sh

# Keys and certs
consumer/config/dev-cert.pem
consumer/config/dev-key.pem

# Cloudformation config
consumer/cloudformation/*
!consumer/cloudformation/create-stack.sh
!consumer/cloudformation/update-stack.sh
!consumer/cloudformation/tc-connect2sf-ecs-cfn.json

# ECS yml
consumer/deploy/tc-connect2sf.yml
consumer/deploy/src
consumer/deploy/config
consumer/deploy/*.env
consumer/deploy/.babelrc
consumer/deploy/.eslintignore
consumer/deploy/.eslintrc
