option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: RABBITMQ_URL
    value: amqp://nanasxgh:tNoPDRekhFsKfDOuIEvW7od_pino4P_D@technical-orangutan.in.cloudamqp.com/nanasxgh
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NODE_ENV
    value: development
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: OWNER_ID
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: LOG_LEVEL
    value: warn
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SALESFORCE_CLIENT_ID
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SALESFORCE_CLIENT_SUBJECT
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SALESFORCE_CLIENT_AUDIENCE
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SALESFORCE_CLIENT_KEY
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: RABBITMQ_PROJECTS_EXCHANGE
    value: dev.projects
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: QUEUE_PROJECTS
    value: dev.project.service
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: IDENTITY_SERVICE_URL
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: IDENTITY_SERVICE_CLIENT_ID
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: IDENTITY_SERVICE_CLIENT_SECRET
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AWS_REGION
    value: us-east-1
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AWS_ACCESS_KEY_ID
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AWS_SECRET_ACCESS_KEY
    value: TBD
